.footer-container {
    padding: 10%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.contact-container {
    text-align: center;
  width: 40%;
}

h1 {
   margin-bottom: 50px !important;
}

Input {
    margin-bottom: 30px;
    width: 100%;
}

.contact-form {
    margin-right: 10%;
    width: 30%;
}

.contact {
    background-color: black;
    color: white;
    width: 100%;
}

.contact-container p {
  font-size: 30px;
}

.contact-container h1 {
  font-size: 60px;
}
