.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.InputElement {
    outline: none;
    border: 1px solid black;
    font: inherit;
    margin-bottom: 0px!important;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.error-text {
    margin-bottom: 0!important;
}

