.saillies {
    display: flex;
    justify-content: space-around;
}

.cards {
    display: flex;
    justify-content: space-around;
}

.container-yellow-buttons {
    display: flex;
    position: absolute;
    bottom: 6%;
}

.ordre-container {
    width: 90%;
    margin-top: 30%;
    padding: 5% 10%;
    height: 750px;
    position: absolute; /* postulat de départ */
    left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

.saillies {
    margin-top: 50px;
}
